<h1>Student</h1>

<%= student.name %>
<br>
<%= student.addresses.each do |address| %>
  <%= address.street %>
  <%= address.state %>
  <%= address.zip %>
  <%= address.city %>
  <%= address.description %>
<% end %>

<%= student.courses.each do |course| %>
  <%= course.name %>
<% end %>